.card { height: 215px; text-shadow: 0 1px 3px rgba(0,0,0,0.6); background-size: cover !important; color: white; position: relative; }
.card-user { position: absolute; right: 10px; top: 10px; width: 55px; height: 55px; border: 1px solid #fff; border-radius: 50%; padding: 3px;}
.card-category { position: absolute; top: 10px; left: 10px; font-size: 12px; text-transform: uppercase; }
.card-description { position: absolute; bottom: 40px; left: 10px; }
.card-description h2 { font-size: 24px; color: #ffffff;}
.card-description p { font-size: 13px; }
.card-link { position: absolute; top: 0; bottom: 0; right: 0; width: 100%; z-index:2; background: black; opacity: 0; }
.card-link:hover{ opacity: 0.1; }
.note{border:1px solid #b2b2b2;border-radius:6px;padding:5px 10px;color:#b2b2b2;display: inline-block;position:relative;background: #ffffff; bottom: -15px;left: 15px;}
.note-wrap{border:1px solid #b2b2b2;border-radius:6px;padding:25px 10px;color:#b2b2b2;margin-bottom: 20px;}
.author{color: #b2b2b2;}
.red-color{color: #c0392b;}
.author a{color: #b2b2b2; text-decoration: none;}
.advanced{}
.profile_bg{background: #c0392b; min-height: 150px; height: auto; padding: 20px; width: 100%; text-align: center;}
.profile_bg h4{color: #ffffff}
.profile_bg p{color: #feaea5;margin: 0; margin-top: 10px;max-width: 700px; margin-left: auto; margin-right: auto;}
.profile_bg .stars i{ color: #feaea5; margin: 3px; font-size: 11px;}
.profile_bg img{max-width: 100px; width: 100%; border-radius: 200px; border-radius: 100%; border: 3px solid #ffffff; border-color: #ffffff; padding: 4px;}
.category_bg{background: #c0392b; height: auto; padding: 10px; width: 100%; text-align: center;}
.category_bg h4{color: #ffffff;}
.category_bg p{color: #ffffff;margin: 0; margin-top: 10px;max-width: 700px; margin-left: auto; margin-right: auto;text-shadow: 0 1px 3px rgba(0,0,0,0.6);}
.image-extended{max-height: 300px;}
.default-div a{text-decoration: none;}
.categorias h5{text-align: center;}
.categorias img{border:none;max-width: 50%;margin-left: auto;margin-right: auto;text-align: center;display: block;}
.spinner svg{margin-left: auto;margin-right: auto;text-align: center;display: block;}
.ingredients li{margin-bottom: 8px;}
.ingredients li:before{content: '\f2f4';font-family: "Ionicons";margin-right: 5px; color: #c0392b;}
.item-avatar {padding-top: 25px;} .item-avatar .badge{top: 23px;}.item-icon-right .icon{color: #ffd8d4;}
.image-category{max-width: 350px; max-height: 350px;padding: 3px; border: 1px solid #ebebeb;}
.default-div h2{font-size: 14px; margin-top: 0px;}.categories a{text-decoration: none;}

@media (max-width: 480px){
#details .col-33{padding: 0px;}
#details .responsive-lg{padding: 0px;}
}


@media (min-width: 480px) {
	#details .col-33{padding: 5px;}
	#details .responsive-lg{padding: 5px;}
	.col-res-50{-webkit-box-flex: 0; -webkit-flex: 0 0 50%; -moz-box-flex: 0; -moz-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
	.col-res-33{-webkit-box-flex: 0; -webkit-flex: 0 0 33%; -moz-box-flex: 0; -moz-flex: 0 0 33%; -ms-flex: 0 0 33%; flex: 0 0 33%; max-width: 33%;}
	.col-res-25{-webkit-box-flex: 0; -webkit-flex: 0 0 25%; -moz-box-flex: 0; -moz-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
}
.item-trns {background-color: transparent ;}
